html {
  background: #f2f2f2 url('../img/pattern.png');
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  color: #555;
  font-family: 'Droid Sans', sans-serif;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.clearfix {
  clear: both;
}

.accent {
  color: #c23963;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid;
}

a:hover {
  border-bottom: 0;
}

/*h1, h2, h3, h4, h5, h6, p {
  letter-spacing: 1px;
  word-spacing: -2px;
}*/

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #c23963;
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a {
  color: #c23963;
}

h1 {
  font-size: 1.7em;
  line-height: 1.2em;
  margin-bottom: 20px;
}

/*h2 {
  font-size: 1.1em;
  line-height: 1.2em;
  margin: 0 0 20px;
  font-weight: normal;
}*/

h2 {
  color: #444;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: -2px;
  line-height: 1.75em;
  margin-bottom: 10px;
  font-weight: normal;
}

h3 {
  line-height: 1.5em;
  margin-bottom: 15px;
}

h4 {
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 20px;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.75em;
  padding: 0;
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

blockquote {
  background: #ddd;
  padding: 10px;
  margin: 0 -10px 35px -10px;;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
blockquote p {
  margin: 0;
  position: relative;
  margin-left: 30px;
  padding: 0 10px;
}
blockquote:before {
  content: '\201C'; /* unicode left double quote */
  font-size: 4.5em;
  position: absolute;
  margin-left: 0;
  margin-top: -7px;
  filter:         alpha(opacity=(50));
  -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=(50))";
  -moz-opacity:   0.5;
  -khtml-opacity: 0.5;
  opacity:        0.5;
}

ol, ul {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 2em;
  padding: 0;
  margin-bottom: 25px;
  margin-left: 45px;
  list-style: inherit;
}
ol {
  list-style-type: decimal;
}
ol li, ul li {
  list-style-position: outside;
}

hr {
  margin: 25px 0;
}

caption {
  font-style: italic;
}

.hover {
  -webkit-transition-property:color, color;
  -webkit-transition-duration: 0.25s, 0.25s;
  -webkit-transition-timing-function: linear, linear;
}

.hover:hover {
  color: #c23963;
}

div.highlight {
  font-size: 0.8em;
  line-height: 1.2em;
  margin: 45px 0; /* extra padding top/bottom due to backsplash :before offset */;
  padding: 10px;
  max-width: 580px;
  position: relative;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
div.highlight:before {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  display: block;
  content: "";
  background: #eee url('../img/pattern.png');
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 0 20px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 0 20px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset, 0 0 20px rgba(0, 0, 0, 0.05) inset;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  z-index: -1;
}
pre {
  overflow: auto;
  font-family: 'Envy Code R', 'Droid Sans Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Inconsolata, Consolas, monospace;
}
.content img, .content > iframe {
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
  width: 100%;
}

.menu {
  padding: 40px 0;
  text-align: center;
}

.menu .logo {
  padding-right: 40px;
  margin-right: 20px;
  border-right: 1px solid #ddd;
}

.logo .rest {
  font-size: 34px;
  font-weight: bold;
}

.logo .hooks {
  font-size: 26px;
  font-weight: bold;
}

.menu a {
  border: 0;
  color: #777;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.menu .item {
  margin: 0 25px;
  font-weight: normal;
  font-size: 20px;
}

.menu .item i {
  position: relative;
  font-size: 32px;
  z-index: 2;
  right: 4px;
  top: 4px;
}

.pop {
  background: #c23963;
  color: #FCBFD2;
  margin-bottom: 20px;
  padding: 60px 0;
  text-align: center;
}

.pop h1 {
  letter-spacing: 1px;
}
.pop h1 span {
  font-size: 150px;
  font-weight: normal;
  line-height: 1em;
}
.pop h2 {
  color: #FFD3E1;
  font-size: 14px;
  letter-spacing: 0.75px;
  word-spacing: -1px;
  font-weight: normal;
  margin-bottom: 30px;
}
.pop h1, .pop a {
  color: #fefefe;
}
.pop a:hover {
  color: #fefefe;
}
.pop .or {
  font-size: 14px;
  padding: 0 3px;
}

.index ul {
  margin: 0 20px;
  color: #444;
  font-size: 1.1em;
}
.index ul li {
  list-style-type: none;
  font-weight: bold;
  line-height: 30px;
}
.index ul li:not(:first-child) {
  margin: 40px 0 20px;
}

/*.index .content p {
  font-size: 14px;
}*/

.content {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  color: #777;
  text-align: center;
  padding: 40px 0 70px;
  font-size: 14px;
  line-height: 26px;
}

.footer a {
  color: #c23963;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #EEE, #CCC, #EEE);
  background-image:    -moz-linear-gradient(left, #EEE, #CCC, #EEE);
  background-image:     -ms-linear-gradient(left, #EEE, #CCC, #EEE);
  background-image:      -o-linear-gradient(left, #EEE, #CCC, #EEE);
  max-width: 600px;
  margin: 20px auto;
}

.left {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  float: left;
  width: 50%;
  padding: 20px 20px;
}

.right {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  float: right;
  width: 50%;
  padding: 20px 20px;
}

.full {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  float: left;
  width: 100%;
  padding: 20px 20px;
}

.left a, .right a, .center a, .index .content p a {
  color: #c23963;
}

.index .services {
  text-align: center;
  padding-bottom: 20px;
}
.index .services a {
  font-size: 14px;
  line-height: 24px;
}
.index img {
  display: block;
  width: 80%;
  border: 0;
  background: none;
  margin: 0 auto 10px;
}
.index .services .left, .index .services .right, .index .services .center {
  margin-bottom: 20px;
  width: 50%;
}
.index .services .center {
  margin-left: auto;
  margin-right: auto;
}
.index .services img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  width: 50%;
  max-width: 125px;
}
.index .services img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

body.post .pop {
  padding: 60px 0;
}
body.post .pop h1 {
  font-size: 2em;
}
body.post .pop h2 {
  margin: 10px 0 0;
}
body.post .pop a {
  text-decoration: none;
  border: 0;
}
div.post {
  padding: 20px 0 40px;
}
div.post a {
  color: #c23963;
}

.post .quote {
  color: #c23963;
  font-size: 30px;
  line-height: 1.2em;
  padding: 25px 20px 40px 50px;
  position: relative;
  font-style: italic;
}
.post .quote:before {
  font-style: normal;
  content: "\201c";
  display: block;
  font-size: 100px;
  position: absolute;
  top: 45px;
  left: 0;
}
.post table {
  border: 1px solid #ccc;
  background: #ebebeb;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 5px 10px 5px;
  margin: 40px auto;
  padding: 15px 25px;
}
.post table tr {
  padding: 3px 0;
}
.post table a {
  font-weight: normal;
}
.post table td {
  width: 50%;
  padding: 8px;
  text-align: center;
}
.post table td:first-child {
  text-align: left;
}
.post table th {
  padding: 10px 7px;
  text-align: center;
}
.post table th:first-child {
  text-align: left;
}
.post table i {
  color: #c23963;
}
.post table i.icon-shield {
  color: #444;
  padding-left: 5px;
  vertical-align: text-bottom;
}

@media screen and (max-width: 650px) {
  .content, div.post {
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu {
    padding: 20px;
  }
  .menu a {
    margin: 20px 0;
  }
  .menu a:first-child {
    display: block;
    width: 100%;
    margin-bottom: 20px
  }
  .menu .logo {
    border-right: 0;
    padding: 0;
    margin: 0;
  }
  .menu .logo div {
    display: inline;
    font-size: 34px;
    margin: 0 5px;
  }
  .left, .right {
    float: none;
    width: 100% !important;
  }
  hr {
    max-width: 85%;
  }
}

a.button {
  background-color: #FFF;
  border-bottom: 0 none;
  color: #c23963;
  padding: 10px 20px;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

a.button:hover {
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 0 none;
  color: #c23963;
}

a.button:active {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 0 none;
  color: #FFF;
}

.icon-check-sign.success {
  color: #46a546;
}
