<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="REST Hooks" />
    <meta name="keywords" content="Webhooks, REST, API, REST hooks, hooks" />
    <meta name="robots" content="all" />
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content="{% if post %}{{ post.caption }}{% else %}REST hooks are a lightweight subscription layer on top of your existing REST API. Powering the real time web.{% endif %}">
    <title>{% if post and post.meta.title %}{{ post.meta.title }} | {% endif %}REST Hooks</title>

    <link rel="icon" href="{{STATIC_URL}}/favicon.ico"/>
    <link href="{{STATIC_URL}}/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="{{STATIC_URL}}/css/font.css" rel="stylesheet" type="text/css"/>
    <link href="{{STATIC_URL}}/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="{{STATIC_URL}}/css/pygments.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{STATIC_URL}}/js/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/js/underscore.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-27002928-3', 'resthooks.org');
      ga('send', 'pageview');

    </script>

  </head>

  <body class="index">

    <div class="content menu">

      <a href="/">
        <div class="logo hover">
          <div class="rest">REST</div>
          <div class="hooks">Hooks</div>
        </div>
      </a>

      <a href="/#why">
        <div class="item hover">
          <i class="icon-globe"></i>
          Why?
        </div>
      </a>

      <a href="/code/">
        <div class="item hover">
          <i class="icon-code"></i>
          Code
        </div>
      </a>

      <a href="/docs/">
        <div class="item hover">
          <i class="icon-play-sign"></i>
          Docs
        </div>
      </a>

    </div>

    <div class="pop">
      <div class="content">
        <h1>Reduce your REST API server load by 66x.</h1>
        <h2>REST hooks are a lightweight subscription layer on top of your existing REST API.</h2>
        <a href="#why">Convince me</a> <span class="or">or</span> <a href="/">get started</a>.
      </div>
    </div>

    <div class="content">
      <div class="left">
        <h3>Stop the polling madness.</h3>
        <p>With most modern REST APIs, polling is the only way to detect changes. But it doesn't have to be. On average, 98.5% of polls are wasted. There is a better way. REST hooks enable real-time communication and eliminate polling.</p>
        <a class="hover" href="/">Read more here.</a>
      </div>
      <div class="right">
        <img src="{{STATIC_URL}}/img/polling.png" />
      </div>
      <div class="clearfix"></div>
    </div>

    <hr />

    <div class="content">
      <div class="right">
        <h3>Beyond webhooks.</h3>
        <p>Webhooks are great but really hard for users to set up. To combat this, REST hooks are subscription based. With REST hooks, users must do little more than click a button to enable real-time updating.</p>
        <a class="hover" href="/">Read more here.</a>
      </div>
      <div class="left">
        <img src="{{STATIC_URL}}/img/webhooks.png" />
      </div>
      <div class="clearfix"></div>
    </div>

    <hr />

    <div class="content">
      <div class="left">
        <h3>Peace, love and REST.</h3>
        <p>You already embrace REST. Why re-invent the wheel? REST hooks are a simple, lightweight extension to what you're already familiar with. No more pedantic arguments about standards and implementation details. Just a real solution that works.</p>
        <a class="hover" href="/">Read more here.</a>
      </div>
      <div class="right">
        <img src="{{STATIC_URL}}/img/rest.png" />
      </div>
      <div class="clearfix"></div>
    </div>

    <a id="why"><hr /></a>

    <div class="content center">
      <h2 class="">The real-time web is here but REST APIs haven't kept up.</h2>
      <p>Many major players have already begun standardizing on subscription webhooks.<br />REST hooks consolidate this momentum and push it to a broader audience.</p>
    </div>

    <div class="content">
      <ul>
        <li>1. REST hooks are 66x more efficient than traditional polling.</li>
        <p><span class="bold">Case study:</span> <a href="https://zapier.com">Zapier</a> is a SaaS service which connects hundreds of other web apps together online. Polling is a necessity because it is the most ubiquitous way to detect changes.</p>
        <p>Over a representative time period, Zapier polled for changes <span class="bold">30 million</span> times but only took action on 460,000 of those polls (1.5% efficient).</p>
        <p>Contrast this with REST hooks, where 547,000 hooks were received over the same period and all of them were acted upon (100% efficient).</p>
        <p>In other words, if everyone implemented REST hooks, server load for both the sender and receiver could be reduced by 66x.</p>

        <li>2. User conversion rates improved 24% with REST hooks.</li>
        <p><span class="bold">Case study:</span> <a href="https://wufoo.com">Wufoo</a> is a popular survey product service which integrates with Zapier. Wufoo supports both classic webhooks (the user must copy and paste a URL from one app to the other) and REST hooks (the webhook is automatically created).</p>
        <p>Users on Zapier tried to set up an integrations with Wufoo using classic webhooks and were successful 95 times out of 215 tries, a 44% conversation rate.</p>
        <p>When users tried REST hooks, however, 261 of 477 were successful, a 54.7% conversion. REST hooks improved conversion rates by 24%.</p>
        <p>With REST hooks, user experience is also greatly improved because users don't need to go offsite to set up an integration.</p>

        <li>3. When asked, over 80% of developers prefer hooks.</li>
        <p><span class="bold">Survey:</span> <a href="https://zapier.wufoo.com/reports/polling-or-webhooks/">When a group of 150 developers were surveyed</a>, 80% preferred to consume a 3rd party REST API by being notified of changes via webhooks instead of polling.</p>
        <p>Polling requires developers to maintain state and infrastructure. There is such unanimous support for real-time change notifications because polling is very difficult and time intensive.</p>
        <p>Developers can spend their time doing meaningful things with your REST API instead of fighting the quirks of polling.</p>
      <ul>
    </div>

    <div class="content center">
      <h3>REST hooks reduce server load, make devs happy, and improve conversion.</h3>
      <p>Ready to learn how? <a href="/">Click to get started with REST hooks</a>.</p>
    </div>

    <hr />

    <div class="content services">

      <h2 class="center bold">Who is using REST hooks today?</h2>

      <div class="left">
        <a href="/profiles/how-wufoo-uses-rest-hooks/"><img src="{{STATIC_URL}}/img/wufoo.png" /></a>
        <a href="/profiles/how-wufoo-uses-rest-hooks/">Learn how Wufoo uses REST hooks</a>
      </div>
      <div class="right">
        <a href="/profiles/how-emma-uses-rest-hooks/"><img src="{{STATIC_URL}}/img/emma.png" /></a>
        <a href="/profiles/how-emma-uses-rest-hooks/">Learn how Emma uses REST hooks</a>
        </a>
      </div>

      <div class="clearfix"></div>

      <div class="left">
        <a href="/profiles/how-formstack-uses-rest-hooks/"><img src="{{STATIC_URL}}/img/formstack.png" /></a>
        <a href="/profiles/how-formstack-uses-rest-hooks/">Learn how Formstack uses REST hooks</a>
      </div>
      <div class="right">
        <a href="/profiles/how-active-campaign-uses-rest-hooks/"><img src="{{STATIC_URL}}/img/activecampaign.png" /></a>
        <a href="/profiles/how-active-campaign-uses-rest-hooks/">Learn how ActiveCampaign uses <br />REST hooks</a>
      </div>

      <div class="clearfix"></div>

      <div class="left">
        <a href="/"><img src="{{STATIC_URL}}/img/glass.png" /></a>
        <a href="/">Learn how Glass uses REST hooks</a>
        </a>
      </div>
      <div class="right">
        <a href="/"><img src="{{STATIC_URL}}/img/stripe.png" /></a>
        <a href="/">Learn how Stripe uses REST hooks</a>
        </a>
      </div>

    </div>


    <div class="footer">
      <hr />
      <div class="content">
        <div>Pushing for a more real-time REST API ecosystem.</div>
        <div>An initiative by <a class="hover" href="https://zapier.com">Zapier</a> 2013.</div>
      </div>
    </div>

  </body>
</html>
